.grabwatt-button {
	color: white;
	border-radius: 5px;
	background-color: rgba(255, 165, 0, 0.9);
	border: 1px solid #ffa500;
}

.grabwatt-button:hover {
	outline: 0;
	border-color: #ffa500;
	background-color: #ffa500;
}

.grabwatt-background {
	background: url("/pattern.svg");
}

/* front page related css */
.form-main,
.feedback-main {
	display: grid;
	grid-template-rows: 1fr;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.form-main a,
.feedback-main a {
	color: #ffa500;
	font-style: italic;
	font-weight: bold;
	color: rgba(255, 165, 0, 0.8);
}

.form-feedback {
	text-align: center;
	margin-bottom: 1rem;
}

.form-body {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-gap: 1rem;
}

.form-body-help {
	color: #e59400;
}

.form-header {
	margin-bottom: 2rem;
}

.form-header h1 {
	font-weight: bolder;
	margin: 0;
}

.form-header > div span {
	font-weight: bold;
	color: rgba(255, 165, 0, 0.8);
}

.form-header mark,
.feedback-main mark {
	display: inline-block;
	line-height: 0em;
	padding-bottom: 0.5em;
	background-color: rgba(255, 165, 0, 0.8);
	margin-bottom: 1rem;
}
