.print-container,
.fic-head-title {
	font-size: large;
}

/* bold chapters titles */
#story-container p:nth-child(2) > h5 {
	font-weight: bold;
	font-size: large;
}

/* shrink image in fic to fit div */
.print-container img {
	width: 100%;
	object-fit: cover;
}

/* convert <br/> to lines */
.fic-head-line {
	white-space: pre-line;
}

.page {
	page-break-after: always;
	padding: 0.5rem 2rem;
}

.grabwatt-background {
	background: url("/pattern.svg");
}

/* front page related css */
.form-main,
.loader-main,
.feedback-main,
.error-main {
	display: grid;
	grid-template-rows: 1fr;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.error-main > div {
	display: grid;
	grid-gap: 1rem;
}

.error-404 {
	font-weight: bolder;
	font-size: 10em;
	margin-bottom: -0.15em;
	text-align: center;
	color: black;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: rgba(255, 165, 0, 1);
}

.feedback-main button {
	float: right;
}

button {
	text-transform: uppercase;
}

.loader-main > div {
	display: grid;
	grid-gap: 1rem;
}

.loader-main p {
	text-transform: uppercase;
	font-weight: bold;
	color: #ffa500;
}

.form-main a,
.feedback-main a {
	color: #ffa500;
	font-style: italic;
	font-weight: bold;
	color: rgba(255, 165, 0, 0.8);
}

.form-feedback {
	text-align: center;
	margin-bottom: 1rem;
}

.form-body {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-gap: 1rem;
}

.form-body-help {
	color: #e59400;
}

.form-header {
	margin-bottom: 2rem;
}

.form-header h1,
.feedback-main h1 {
	font-weight: bolder;
	margin: 0;
}

.form-header > div span {
	font-weight: bold;
	color: rgba(255, 165, 0, 0.8);
}

.form-header mark,
.feedback-main mark {
	display: inline-block;
	line-height: 0em;
	padding-bottom: 0.5em;
	background-color: rgba(255, 165, 0, 0.8);
	margin-bottom: 1rem;
}

.info-gifs {
	width: 100%;
	max-width: 100%;
	height: auto;
}

@media (max-width: 700px) {
	.form-header h1,
	.feedback-main h1 {
		font-size: calc(1.5vw + 1.5vh + 1vmin);
	}
}
